@page "/"
@page "/game"
@using MinesweeperApp.Models
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime;


<div class="container-fluid">
    
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Hello, Welcome To The Game.</h1>
    <p><sapn class="btn btn-warning">@minutes.ToString("00") : @seconds.ToString("00")</sapn> <span class="btn btn-info">Clicks:@clicks</span> <span class="btn btn-primary " @onclick="Refresh"> Play Again</span></p>
    <p>Try to avoid the mines, right-click to flag a cell.</p>
    <p class="text-danger fs-1">@gameEnd</p>
  </div>
</div>

      <div class="inner">
    
        @foreach(var item in cells)
        {
            if(item.Visited)
            {
                 if (item.IsLive)
                {
                    
                    <button class="bomb">💣</button>
                }

                else if (item.NumberOfNeighborsLve > 0)
                {
                    <button class="uncleared">@item.NumberOfNeighborsLve</button>
                    
                }

                else
                {
                    <button class="cleared"></button>
                }   
            }

            else
            {
               <button class="uncleared" disabled=@IsDisabled  @onclick="(() => HandleClick(item))" @oncontextmenu="(() => flagBtn(item))" @oncontextmenu:preventDefault="true" >@(item.IsFlaged ? "🚩" : "?")</button>
            }
          
        }
    
      </div>

</div>
